<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="info" name="Script-Parser" packages="" monitorInterval="5">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t %c:%L] %highlight{%-5level}: %msg%n%throwable" />
            <Filters>
                <MarkerFilter marker="ERROR" onMatch="ACCEPT" onMismatch="NEUTRAL" />
                <MarkerFilter marker="DECOMPILE" onMatch="ACCEPT" onMismatch="NEUTRAL" />
                <MarkerFilter marker="COMPILE" onMatch="ACCEPT" onMismatch="NEUTRAL" />
                <MarkerFilter marker="DISASSEMBLE" onMatch="ACCEPT" onMismatch="NEUTRAL" />
            </Filters>
        </Console>
        <File name="file" fileName="debug.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t %c:%L] %-5level: %msg%n%throwable"/>
            <Filters>
                <MarkerFilter marker="ERROR" onMatch="ACCEPT" onMismatch="NEUTRAL" />
                <MarkerFilter marker="DECOMPILE" onMatch="DENY" onMismatch="NEUTRAL" />
                <MarkerFilter marker="COMPILE" onMatch="DENY" onMismatch="NEUTRAL" />
                <MarkerFilter marker="DISASSEMBLE" onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
